<div class="main-search row justify-content-center">
    <div class="col-lg-12 col-md-10 ftco-animate fadeInUp ftco-animated">
      <form (ngSubmit)="searchArticle()" class="domain-form">
        <div class="form-group d-flex">
          <input type="text" class="form-control px-4" [formControl]="searchFormControl" placeholder="Article, Subject, Journal etc...">
          <a type="submit" class="search-domain btn btn-primary">
            <i class="bi bi-search"></i>
          </a>
        </div>
      </form>
      <div class="result-container" [ngClass]="{'show': showSuggestions}">
        <ul class="suggestions">
          <li *ngFor="let suggestion of filteredSuggestions | async" class="suggestion">{{ suggestion }}</li>
          <li class="suggestion"><a href="">Suggestion 1</a></li>
          <li class="suggestion"><a href="">Suggestion 2</a></li>
          <li class="suggestion"><a href="">Suggestion 2</a></li>
        </ul>
      </div>
    </div>
  </div>