<app-header></app-header>
<div class="tranpage-bn d-flex justify-content-center align-items-center">
<div class="trans-anim mt-10">
    <ng-lottie [options]="options" (animationCreated)="onAnimate($event)"></ng-lottie>
</div>
</div>
<div class="translator-sec bg-light">
  <div class="container z-1 my-5">
        <div class="card">
            <h2 class="text-uppercase mb-3 pt-5 mx-5">ADRI Translator</h2>
            <div class="card-body d-lg-flex d-md-block gap-3">
                <div class="mb-5 px-4 w-100">
                    <div class="custom-select w-100 mb-3">
                        <button
                          class="select-button"
                          role="combobox"
                          aria-labelledby="select button"
                          aria-haspopup="listbox"
                          aria-expanded="false"
                          aria-controls="select-dropdown">
                          <span class="selected-value">First Language</span>
                          <span class="arrow"></span>
                        </button>
                        <ul class="select-dropdown" role="listbox" id="select-dropdown">
                          <li role="option">
                            <input type="radio" id="github" name="social-account" />
                            <label for="github">Arabic</label>
                          </li>
                          <li role="option">
                            <input type="radio" id="github" name="social-account" />
                            <label for="github">English</label>
                          </li>
                        </ul>
                      </div>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="mb-5 px-4 w-100">
                    <div class="custom-select2 w-100 mb-3">
                        <button
                          class="select-button2"
                          role="combobox"
                          aria-labelledby="select button"
                          aria-haspopup="listbox"
                          aria-expanded="false"
                          aria-controls="select-dropdown2">
                          <span class="selected-value2">Second Language</span>
                          <span class="arrow"></span>
                        </button>
                        <ul class="select-dropdown2" role="listbox" id="select-dropdown2">
                          <li role="option">
                            <input type="radio" id="github" name="social-account" />
                            <label for="github">Arabic</label>
                          </li>
                          <li role="option">
                            <input type="radio" id="github" name="social-account" />
                            <label for="github">English</label>
                          </li>
                        </ul>
                      </div>
                    <textarea class="form-control bg-light" id="exampleFormControlTextarea1" placeholder="Translation" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- section-2 -->
  <div class="translate-sec2">
    <div class="container">
      <div class="d-lg-flex d-md-block justify-content-center align-items-center gap-5">
        <div class="upload-pdf mt-10">
          <ng-lottie [options]="options2" (animationCreated)="onAnimate($event)"></ng-lottie>
        </div>
        <div class="ct-main w-100">
          <h1>GET INSTANT QUOTATION FOR YOUR TRANSLATION</h1>
          <P>Upload your PDF here to get a prompt review by our team of Experts.</P>
          <a class="btn-one" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
          aria-controls="offcanvasExample" >Upload Your PDF<i class="bi bi-arrow-right-short"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- close -->


  <!-- form -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <form>
          <div class="mb-5">
              <label for="phone" class="form-label fs-base">Upload PDF File</label>
          <div class="input-group">
              <input type="file" class="form-control upload-file" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
          </div>
          </div>
          <a [routerLink]="['/translate-package']" type="submit" class="btn-login btn btn-primary shadow-primary btn-lg w-100"
              id="submitBtn">
              <span id="buttonSpinner" class="spinner-border spinner-border-sm d-none"></span>submit
          </a>
      </form>
  </div>
</div>
<!-- close -->

<app-footer></app-footer>