
.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar {
    background: transparent;
    z-index: 9999;
    background-color: transparent !important;
    transition: 0.3s ease;
}
.offcanvas {
    background-color: #4300b1 !important;
}
.dropdown-item {
    padding: 15px;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: var(--second-adri-color);
}

.dropdown-menu {
    top: 125%;
    left: 0;
    margin-top: var(--bs-dropdown-spacer);
    width: 100%;
}
.offcanvas-body::-webkit-scrollbar {
    width: 8px;
}
.offcanvas-body::-webkit-scrollbar-thumb {
    background-color: var(--second-adri-color);
    outline: 1px solid var(--second-adri-color);
}
.offcanvas-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #0000004d;
}
.dropdown-menu {
    background: #370489;
    padding: 15px;
}
.fixed-nav {
    background-color: #fff !important;
    box-shadow: 2px 3px 20px 20px #7575750d;
    transition: 0.3s ease;
    z-index: 9999;
}
.fixed-nav .navbar-toggler {
    filter: invert(1) !important;
}
.fixed-nav .navbar-brand {
    filter: none !important;
}

