.ib-master{
    position: relative;
    height: 15vh;
    overflow: hidden;
  }
  .contact-anim{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
  }
.contactus-anim {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
