<section class="timeline-carousel ">
    <div class="container">
       <div class="row">
          <div class="col-12 text-center mb-5">
             <h1>OUR COLLECTIONS</h1>
             <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam eveniet delectus vitae animi magnam aliquid necessitatibus inventore repudiandae ipsum possimus dicta</p> 
             <a [routerLink]="['']" type="submit" class="btn-subscribe btn btn-primary shadow-primary btn-lg mt-3 m-auto" id="submitBtn" id="panel1">
               Know More
             </a>
          </div>
       </div>
    </div>
    <div class="timeline-carousel__item-wrapper" data-js="timeline-carousel">
       
       <!--Timeline item-->
       <div class="timeline-carousel__item">
          <div class="timeline-carousel__image">
             <div class="media-wrapper media-wrapper--overlay" style="background: url('assets/img/collection/computer_science.jpg') center center; background-size:cover;"></div>
          </div>
          <div class="timeline-carousel__item-inner">
             <span class="year">273,159+ <label>Articles</label></span>
             <span class="month">Computer science, knowledge & systems</span>
             <a href="#" class="read-more">Checkout</a>
          </div>
       </div>
       <!--/Timeline item-->
       
       <!--Timeline item-->
       <div class="timeline-carousel__item">
         <div class="timeline-carousel__image">
            <div class="media-wrapper media-wrapper--overlay" style="background: url('assets/img/collection/philosophy.jpg') center center; background-size:cover;"></div>
         </div>
         <div class="timeline-carousel__item-inner">
            <span class="year">87,528+</span>
            <span class="month">Philosophy</span>
            <a href="#" class="read-more">Checkout</a>
         </div>
      </div>
      <!--/Timeline item-->
       
       <!--Timeline item-->
       <div class="timeline-carousel__item">
         <div class="timeline-carousel__image">
            <div class="media-wrapper media-wrapper--overlay" style="background: url('assets/img/collection/religion.jpg') center center; background-size:cover;"></div>
         </div>
         <div class="timeline-carousel__item-inner">
            <span class="year">23,501+</span>
            <span class="month">Religion</span>
            <a href="#" class="read-more">Checkout</a>
         </div>
      </div>
      <!--/Timeline item-->
       
       <!--Timeline item-->
       <div class="timeline-carousel__item">
         <div class="timeline-carousel__image">
            <div class="media-wrapper media-wrapper--overlay" style="background: url('assets/img/collection/social.jpg') center center; background-size:cover;"></div>
         </div>
         <div class="timeline-carousel__item-inner">
            <span class="year">544,854+</span>
            <span class="month">Social sciences, sociology & anthropology</span>
            <a href="#" class="read-more">Checkout</a>
         </div>
      </div>
      <!--/Timeline item-->
       
       <!--Timeline item-->
       <div class="timeline-carousel__item">
         <div class="timeline-carousel__image">
            <div class="media-wrapper media-wrapper--overlay" style="background: url('assets/img/collection/language.jpg') center center; background-size:cover;"></div>
         </div>
         <div class="timeline-carousel__item-inner">
            <span class="year">62,723+</span>
            <span class="month">Language</span>
            <a href="#" class="read-more">Checkout</a>
         </div>
      </div>
      <!--/Timeline item-->
       

       <!--Timeline item-->
       <div class="timeline-carousel__item">
         <div class="timeline-carousel__image">
            <div class="media-wrapper media-wrapper--overlay" style="background: url('assets/img/collection/science.jpg') center center; background-size:cover;"></div>
         </div>
         <div class="timeline-carousel__item-inner">
            <span class="year">2,807,227+</span>
            <span class="month">Science</span>
            <a href="#" class="read-more">Checkout</a>
         </div>
      </div>
      <!--/Timeline item-->
       
       <!--Timeline item-->
       <div class="timeline-carousel__item">
         <div class="timeline-carousel__image">
            <div class="media-wrapper media-wrapper--overlay" style="background: url('assets/img/collection/technology.jpg') center center; background-size:cover;"></div>
         </div>
         <div class="timeline-carousel__item-inner">
            <span class="year">963,034+</span>
            <span class="month">Technology</span>
            <a href="#" class="read-more">Checkout</a>
         </div>
      </div>
      <!--/Timeline item-->

      <!--Timeline item-->
      <div class="timeline-carousel__item">
         <div class="timeline-carousel__image">
             <div class="media-wrapper media-wrapper--overlay" style="background: url('assets/img/collection/art.jpg') center center; background-size:cover;"></div>
         </div>
         <div class="timeline-carousel__item-inner">
            <span class="year">94,494+</span>
            <span class="month">Arts</span>
            <a href="#" class="read-more">Checkout</a>
         </div>
      </div>
      <!--/Timeline item-->

      <!--Timeline item-->
      <div class="timeline-carousel__item">
         <div class="timeline-carousel__image">
            <div class="media-wrapper media-wrapper--overlay" style="background: url('assets/img/collection/literature.jpg') center center; background-size:cover;"></div>
         </div>
         <div class="timeline-carousel__item-inner">
            <span class="year">3,652+</span>
            <span class="month">Literature, rhetoric & criticism</span>
            <a href="#" class="read-more">Checkout</a>
         </div>
      </div>
      <!--/Timeline item-->

      <!--Timeline item-->
      <div class="timeline-carousel__item">
         <div class="timeline-carousel__image">
               <div class="media-wrapper media-wrapper--overlay" style="background: url('assets/img/collection/history.jpg') center center; background-size:cover;"></div>
         </div>
         <div class="timeline-carousel__item-inner">
            <span class="year">78,464+</span>
            <span class="month">History</span>
            <a href="#" class="read-more">Checkout</a>
         </div>
      </div>
      <!--/Timeline item-->
 
    </div>
 </section>