<app-header></app-header>
<!-- inner-banner -->
<div class="ib-master">
    <div class="banner-anim mt-10">
        <ng-lottie [options]="options" (animationCreated)="onAnimate($event)"></ng-lottie>
    </div>
    <div class="container h-100">
        <div class="d-flex justify-content-center align-items-center h-100">
            <h1 class="h1-m text-uppercase">Ready for your ADRI journey?</h1>
        </div>
    </div>
</div>
<!-- inner-banner-close -->


<div class="career-sec1" style="background-image: url(assets/img/career/bg-1.jpg);">
    <div class="container">
        <div class="d-lg-flex d-md-block justify-content-center align-items-center gap-5">
            <div class="ct-main w-100">
                <h1>Work at the heart of change</h1>
                <p>
                 At the heart of every great change is a great human. Every day our People of Change are doing incredible things by working together to pursue our shared purpose–to deliver on the promise of technology and human ingenuity.
                </p>
            </div>
            <div class="career-anim mt-10 w-100">
                <ng-lottie [options]="options2" (animationCreated)="onAnimate($event)"></ng-lottie>
            </div>
        </div>
    </div>
</div>

<div class="career-sec2">
    <div class="container">
        <h1 class="job-h mb-5">Latest Jobs</h1>
       <div class="d-lg-flex d-md-block">
          <div class="job-cl">
             <h6><i class="bi bi-geo-alt-fill"></i>saudi Arabia</h6>
             <h1>Accountant (Male) - Saudi National</h1>
             <p>
                Manage all accounting operations including A/R, A/P, GL, and payroll. Prepare and file VAT returns on time.
             </p>
             <a class="btn-one" [routerLink]="['/career-inner']">Apply Now<i class="bi bi-arrow-right-short"></i></a>
          </div>
          <!-- 2 -->
          <div class="job-cl">
            <h6><i class="bi bi-geo-alt-fill"></i>saudi Arabia</h6>
            <h1>Business Development Manager - Government Tenders</h1>
            <p>
                Lead and manage all efforts related to identifying, responding to and acquiring government tenders for a range of services and products provided by ADRI.
            </p>
            <a class="btn-one" [routerLink]="['/career-inner']">Apply Now<i class="bi bi-arrow-right-short"></i></a>
         </div>
         <!-- 3 -->
         <div class="job-cl">
            <h6><i class="bi bi-geo-alt-fill"></i>saudi Arabia</h6>
            <h1>Arabic-English Translator</h1>
            <p>
                We are currently seeking a skilled Arabic-English Translator to join our team. As a translator, your primary responsibility will be to accurately and efficiently translate written and verbal communications from Arabic to English and vice versa.
            </p>
            <a class="btn-one" [routerLink]="['/career-inner']">Apply Now<i class="bi bi-arrow-right-short"></i></a>
         </div>
       </div>
    </div>
</div>

<app-footer></app-footer>
