<app-header></app-header>
<!-- inner-banner -->
<div class="ib-master">
    <div class="banner-anim mt-10 w-100">
        <ng-lottie [options]="options" (animationCreated)="onAnimate($event)"></ng-lottie>
    </div>
    <div class="container h-100">
        <div class="d-flex justify-content-center align-items-center h-100">
            <h1 class="h1-m text-uppercase">our services</h1>
        </div>
    </div>
</div>
<!-- inner-banner-close -->

<div class="ai-service-main pt-5">
    <div class="container">
        <div class="d-lg-flex d-md-block justify-content-center align-items-center gap-5 flex-md-column-reverse flex-lg-row">
            <div class="service-content w-100">
                <h1 class="mb-4">What is ADRI <br> Generative AI?</h1>
                <p>
                    ADRI GEN AI is a comprehensive AI solution that equips businesses with an array of artificial intelligence tools. From converting spoken words to text and vice versa, facilitating language translation, and deploying intelligent chatbots, to fortifying security with fraud and deep fake detection, and even generating images creatively, ADRI GEN AI is your all-in-one AI partner for communication, innovation, and protection. Unleash the potential of AI with ADRI GEN AI
                </p>
            </div>
            <div class="service-anim mt-10">
                <ng-lottie [options]="options2" (animationCreated)="onAnimate($event)"></ng-lottie>
            </div>
        </div>
    </div>
</div>

<div class="ai-service-main bg-light pt-5">
    <div class="container">
        <div class="d-lg-flex d-md-block justify-content-center align-items-center gap-5 flex-lg-row-reverse">
            <div class="service-content w-100">
                <h1 class="mb-4">Translation on Demand</h1>
                <p>
                    ADRI's 6-step translation process, combining AI technology with specialized review, ensures
                    high-quality, accurate, and detail-oriented Arabic translations that align with the content's
                    academic discipline.
            </div>
            <div class="service-anim mt-10">
                <ng-lottie [options]="options3" (animationCreated)="onAnimate($event)"></ng-lottie>
            </div>
        </div>
    </div>
</div>

<div class="ai-service-main pt-5">
    <div class="container">
        <div
            class="d-lg-flex d-md-block justify-content-center align-items-center gap-5 flex-md-column-reverse flex-lg-row">
            <div class="service-content w-100">
                <h1 class="mb-4">Transcription and Subtitling</h1>
                <p>
                    ADRI's revolutionary subtitle generator utilizes AI speech-to-text technology and expert reviews to provide unbeatable quality and efficiency for transcribing audio dialogues into subtitles, covering various accents including Khaliji, Shami, and Egyptian.
            </div>
            <div class="service-anim mt-10">
                <ng-lottie [options]="options4" (animationCreated)="onAnimate($event)"></ng-lottie>
            </div>
        </div>
    </div>
</div>

<div class="ai-service-main pt-5 bg-light">
    <div class="container">
        <div
            class="d-lg-flex d-md-block justify-content-center align-items-center gap-5 flex-lg-row-reverse">
            <div class="service-content w-100">
                <h1 class="mb-4">Digitization</h1>
                <p>
                    Trust ADRI for unmatched precision and efficiency in converting Arabic content and documents into digital format at a large scale, with our comprehensive Arabic Content Digitization Service and cutting-edge Optical Character Recognition (OCR) technology.
            </div>
            <div class="service-anim mt-10">
                <ng-lottie [options]="options5" (animationCreated)="onAnimate($event)"></ng-lottie>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>
