@charset "utf-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    background-color: #fff !important;
    background: #fff !important;
    scroll-behavior: smooth;
}
body {
    margin: 0 !important;
    padding:0 !important;
}
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--second-adri-color);
    outline: 1px solid var(--second-adri-color);
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #0000004d;
}
:root{
    --primary-adri-color:#6610f2;
    --second-adri-color:#ffbf00;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 800 !important;
    line-height: 1.3;
    color: #0b0f19;
}
h1, .h1 {
    font-size: 2.5rem;
}

.pt-100{
    padding-top: 100px !important;
}
.pb-100{
    padding-bottom: 100px !important;
}
.text-white-80{
    color: #fffc;
}
/* login-start */

.login-page {
    height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
  }
.register-btn{
text-decoration: none;
color: #6610f2;
font-weight: 600;
}
.login-h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}
.form-control-lg {
    padding: 18px !important;
    font-size: 18px !important;
    border-radius: 8px;
}
.form-control:focus {
    border-color: #6610f242 !important;
    box-shadow: 0px 1px 20px 0rem rgb(102 16 242 / 10%) !important;
}
.btn-login {
    background:var(--primary-adri-color);
    background-color:var(--primary-adri-color) !important;
    border-color: transparent !important;
    box-shadow: 0px 12px 18px 0px #6610f233;
    margin-bottom: 20px !important;
    border-radius: 6px !important;
    padding: 12px 0 !important;
    transition: 0.3s ease-in;
}
.btn-login:hover{
    background:var(--second-adri-color);
    background-color:var(--second-adri-color) !important;
    box-shadow: 0px 12px 18px 0px var(--second-adri-color)45;
    transition: 0.3s ease-in;
}
/* 2 */
.btn-login2 {
    background:var(--primary-adri-color);
    background-color:var(--primary-adri-color) !important;
    border-color: transparent !important;
    box-shadow: 0px 12px 18px 0px #6610f233;
    margin-bottom: 20px !important;
    border-radius: 6px !important;
    padding: 12px 0 !important;
    transition: 0.3s ease-in;
}
.btn-login2:hover{
    background:var(--second-adri-color);
    background-color:var(--second-adri-color) !important;
    box-shadow: 0px 12px 18px 0px var(--second-adri-color)45;
    transition: 0.3s ease-in;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
.form-control-lg {
    font-size: 18px !important;
}
.forgot-btn {
    color: var(--second-adri-color) !important;
    text-decoration: none !important;
    font-weight: 500 !important;
    font-size: 18px !important;
}
.g-btn {
    background: #ff0021 !important;
    border: none !important;
    border-radius: 30px !important;
    box-shadow: 1px 10px 20px 0px #f1162b2e;
}
.fb-btn {
    background: #144ef7 !important;
    border: none !important;
    border-radius: 30px !important;
    box-shadow: 1px 10px 20px 0px #144ef74a;
}
.linke-btn {
    background: #007cff !important;
    border: none !important;
    border-radius: 30px !important;
    box-shadow: 1px 10px 20px 0px #144ef74a;
}
.back-home {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--second-adri-color);
    font-size: 22px;
    color: #080808;
    border-radius: 10px;
    transition: 0.2s ease;
    margin-bottom: 25px;
    overflow: hidden;
}
.back-home:hover {
transition: 0.2s ease;
background: var(--second-adri-color);
color: #fff;
}
.spinner-border-sm {
    margin: 0 10px !important;
    color: var(--second-adri-color) !important;
}
@media (max-width:1199px) {
    .back-home {
        margin: 25px auto;
    }
}
@media (max-width:780px) {
    .login-page {
        padding: 20px;
        height: auto;
    }
    .login-h1 {
        font-size: 25px;
    }
    .back-home {
        margin: 25px auto;
    }
}
.criteria-ul {
    padding: 10px 20px;
}
.criteria-ul li {
    list-style: circle;
    padding: 5px 0;
}
.eye-cls {
    position: relative;
    top: -50px;
    right: 10px;
    float: right;
}
.eye-cls:focus {
border: none !important;
}
.eye-cls:active {
    border: none !important;
}
.form-select {
    padding: 18px !important;
    font-size: 18px !important;
    border-radius: 8px;
}
.form-select:focus {
    border-color: #6610f242 !important;
    box-shadow: 0px 1px 20px 0rem rgb(102 16 242 / 10%) !important;
}
/* success-popup */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
}
.check-container {
	width: 6.25rem;
	height: 7.5rem;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;

	.check-background {
		width: 100%;
		height: calc(100% - 1.25rem);
		background: linear-gradient(to bottom right, #5de593, #41d67c);
		box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
		transform: scale(0.84);
		border-radius: 50%;
		animation: animateContainer 0.75s ease-out forwards 0.75s;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;

		svg {
			width: 65%;
			transform: translateY(0.25rem);
			stroke-dasharray: 80;
			stroke-dashoffset: 80;
			animation: animateCheck 0.35s forwards 1.25s ease-out;
		}
	}

	.check-shadow {
		bottom: calc(-15% - 5px);
		left: 0;
		border-radius: 50%;
		background: radial-gradient(closest-side, rgba(73, 218, 131, 1), transparent);
		animation: animateShadow 0.75s ease-out forwards 0.75s;
	}
}

@keyframes animateContainer {
	0% {
		opacity: 0;
		transform: scale(0);
		box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
	}
	25% {
		opacity: 1;
		transform: scale(0.9);
		box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
	}
	43.75% {
		transform: scale(1.15);
		box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
	}
	62.5% {
		transform: scale(1);
		box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
	}
	81.25% {
		box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
	}
	100% {
		opacity: 1;
		box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
	}
}

@keyframes animateCheck {
	from {
		stroke-dashoffset: 80;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes animateShadow {
	0% {
		opacity: 0;
		width: 100%;
		height: 15%;
	}
	25% {
		opacity: 0.25;
	}
	43.75% {
		width: 40%;
		height: 7%;
		opacity: 0.35;
	}
	100% {
		width: 85%;
		height: 15%;
		opacity: 0.25;
	}
}
.success-h1 {
    font-size: 18px;
    text-align: center;
    position: relative;
    top: -50px;
}
/* close */
.otp-timer {
    margin: 10px 0;
}
.otp-timer span{
    color: #eb1c1c;
}
/* login-close */

/* your interest */
.interest-dialog {
    max-width: fit-content !important;
    margin: auto !important;
}
.interest-bg {
    border-radius: 20px !important;
    border: none !important;
    padding: 5px;
    box-shadow: 0 0 20px 4px #07003436;
}
.interest-bg::after{
    content: "";
    position: absolute;
    background-image: url(assets/img/home/interest/interest-main.jpg);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.interest-bg .modal-header {
    background: transparent;
    z-index: 999;
    border: none !important;
    padding: 35px 55px;
}
.interest-bg .modal-body{
    z-index: 999;
}
.btn-close:focus {
    box-shadow: none !important;
}
.interest-body h1 {
    margin: auto;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}
.interest-body ul li {
    list-style: none;
    float: left;
    padding: 15px 6px;
}
.interest-body ul li a {
    color: #fff;
    transition: 0.2s ease;
    text-decoration: none;
}
.interest-body ul li a:hover {
    color: var(--second-adri-color);
    text-decoration: none;
    transition: 0.2s ease;
}
.interest-body ul li .border-int {
    padding: 10px 25px;
    border: 1px solid;
    border-radius: 50px;
    border-color: #ffffff54;
    background: #ffffff30;
    transition: 0.5s ease;
}
.interest-body ul li .border-int:hover {
    border-color: var(--primary-adri-color);
    background: var(--primary-adri-color);
    transition: 0.5s ease;
}
.interest-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 70px;
}
.modal-backdrop {
    background-color: #1c1676 !important;
}
/* close */

/* home-banner */
.hero-banner {
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}
.bg-banner{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.content-hero {
    position: absolute;
    width: 100%;
}
.content-hero h1 {
    color: #fff;
    font-weight: 700;
}
.content-hero p {
    color: #d6d6d6;
    font-size: 18px;
}
.ts-btn {
    background-color: var(--second-adri-color) !important;
    border-color: #ffffff73 !important;
    box-shadow: 0px 12px 18px 0px #ffbf0026;
    border-radius: 130px !important;
    padding: 10px 15px !important;
    transition: 0.3s ease-in;
    width: fit-content !important;
    margin-right: 20px;
    font-size: 14px !important;
    text-transform: uppercase;
}
.fixed-nav .ts-btn {
    background-color: var(--second-adri-color) !important;
    box-shadow: 0px 12px 18px 0px #ffbf0026;
}
.btn-subscribe {
    background: var(--primary-adri-color);
    background-color: var(--primary-adri-color) !important;
    border-color: transparent !important;
    box-shadow: 0px 12px 18px 0px #6610f233;
    border-radius: 130px !important;
    padding: 10px 15px !important;
    transition: 0.3s ease-in;
    width: fit-content !important;
    margin-right: 20px;
    font-size: 14px !important;
    text-transform: uppercase;
}
.btn-sub{
    width:auto;
}
.btn-subscribe:hover {
    background: var(--second-adri-color);
    background-color: var(--second-adri-color) !important;
    box-shadow: 0px 12px 18px 0px var(--second-adri-color)45;
    transition: 0.3s ease-in;
}
.ts-btn:hover {
    background: var(--primary-adri-color);
    background-color: var(--primary-adri-color) !important;
    box-shadow: 0px 12px 18px 0px var(--primary-adri-color)45;
    transition: 0.3s ease-in;
}
.banner-content{
    z-index: 1;
}
/* close */

/* tour */

.tour-backdrop {
    opacity: 0.5 !important;
    z-index: 1 !important;
}
.modal {
    z-index: 99999!important;
}
.modal-backdrop {
    z-index: 9999 !important;
}
.popover[class*=tour-] {
    z-index: 9999 !important;
}
.popover[class*=tour-] {
    z-index: 999;
    padding: 15px;
    border-radius: 5px;
    background: var(--second-adri-color);
    color: #000;
    box-shadow: 6px 11px 20px 0px #ffbf002b;
    margin-top: 25px;
}
.popover h3 {
    font-size: 18px;
    font-weight: 700;
    max-width: 500px;
}
.popover[class*=tour-] .popover-navigation {
    padding: 0 !important;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 25px;
}
.popover[class*=tour-] .popover-navigation *[data-role=prev].disabled, .popover[class*=tour-] .popover-navigation *[data-role=next].disabled, .popover[class*=tour-] .popover-navigation *[data-role=end].disabled {
    cursor: default;
    padding: 5px 15px;
    border-radius: 0;
    border-color: #ffffff;
    color: #ffffff;
    opacity: 0.5;
}
.popover[class*=tour-] .popover-navigation *[data-role=prev], .popover[class*=tour-] .popover-navigation *[data-role=next], .popover[class*=tour-] .popover-navigation *[data-role=end] {
    cursor: pointer;
    padding: 5px 15px;
    color: #fff;
    border: 1px solid #fff;
    margin: 0 10px;
}
.popover {
    max-width: fit-content !important;
}
.modal-open .popover {
    opacity: 0 !important;
}
.popover-content {
    font-size: 15px;
    max-width: 500px;
    font-weight: 400;
    margin-top: 15px;
}
.popover[class*=tour-] {
    z-index: 1 !important;
}
.tour-step-background {
display: none;
}
.tour-backdrop {
    background-color: #6610f259 !important;
    z-index: 9999 !important;
}

.popover[class*=tour-] {
    z-index: 99999 !important;
}
/* close */

/* nav-side */
.navbar-brand{
    width: 150px;
    filter: contrast(0) brightness(8.5);
}

.offcanvas {
    padding: 25px;
}
.offcanvas-header {
    margin-bottom: 50px;
}
.nav-link {
    text-transform: uppercase;
    padding: 15px 0 !important;
}
.profile-drop {
    padding: 0 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #717171;
    margin-bottom: 40px;
    padding-bottom: 20px;
}
.dropdown .name-div{
    color: #fff !important;
    transition: 0.3s ease;
}
.dropdown .name-div:hover{
    color: #ccc !important;
    transition: 0.3s ease;
}
.dropdown .name-div:focus{
    color: #ccc !important;
    transition: 0.3s ease;
}
.dropdown .name-div img{
    margin-right: 20px;
}
.profile-list{
    background: #fff !important;
}

/* close */

/* beta-tag */
.betatag {
    position: absolute;
    top: 0;
    width: fit-content;
    padding: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
    left: 50px;
    color: #fff;
    border: none !important;
    background: #4910f278;
    box-shadow: 2px 11px 20px 0px #6610f23b;
    padding: 23px;
}
.betatag small {
    color: #ff0000bd;
    opacity: 1 !important;
    position: absolute;
    right: 0px;
    top: -5px;
    font-size: 18px;
    font-weight: 700;
}
.info-icon {
    width: 50px;
}
.text-yellow{
    color: var(--second-adri-color);
}
.info-icon path {
    stroke: var(--bs-teal);
}
/* close */

/* home-search */
.main-search .padding {
    padding: 2rem 10rem !important;
}
.domain-form .form-group {
    border: 1px solid var(--second-adri-color);
    padding: 20px;
}

.domain-form .form-group input {
    height: 70px !important;
    border: transparent;
    border-radius: 0 !important;
}
.form-control {
    height: 52px !important;
    background: #fff !important;
    color: #3a4348 !important;
    font-size: 18px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.main-search .px-4 {
    padding-left: 1.5rem !important;
}
.domain-form .form-group .search-domain {
    background: var(--second-adri-color);
    border: 2px solid var(--second-adri-color);
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}
.result-container {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .result-container.show {
    opacity: 1;
    max-height: 200px; /* Adjust the value as needed */
  }
  
  .suggestions{
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 10px 0;
}
  
  .suggestion {
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .result-container.show .suggestion {
    opacity: 1;
    transition-delay: 0.2s; /* Delay the appearance of each suggestion */
  }
  
  .history {
    list-style-type: none;
    padding: 0;
  }
  
  .history-title {
    margin-top: 20px;
  }
.suggestion a {
    color: #000;
    text-decoration: none;
}
  /* close */

  /* catergories-slider */
.timeline-carousel {
    margin: 0;
    background-color: #ffffff;
    font-weight: 400;
    padding: 86px 6.9444% 90px 6.9444%;
    position: relative;
    overflow: hidden;
    z-index:9;
}
.timeline-carousel:after, .timeline-carousel:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 6.9444%;
  z-index: 3;
  width: 6.9444%;
}
.timeline-carousel:after {
  left: 0;
}
.timeline-carousel:before {
  right: 0;
  opacity: 0;
}
.timeline-carousel .slick-list {
  overflow: visible;
}
.timeline-carousel .slick-dots {
  bottom: -73px;
}
.timeline-carousel h1 {
    color: black;
    font-weight: 700;
}
.timeline-carousel p {
  color: white;
  font-weight: 300;
}
.timeline-carousel__image {
  padding-right: 30px;
}
.timeline-carousel__item {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.timeline-carousel__item .media-wrapper {
  opacity: 0.4;
  padding-bottom: 71.4%;
  -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.timeline-carousel__item:last-child .timeline-carousel__item-inner:after {
  width: calc(100% - 30px);
}
.timeline-carousel__item-inner {
  position: relative;
  padding-top: 45px;
}
.timeline-carousel__item-inner:after {
  position: absolute;
  width: 100%;
  top: 45px;
  left: 0;
  content: "";
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.timeline-carousel__item-inner .year {
  font-size: 25px;
  line-height: normal;
  color:var(--second-adri-color);
  display: table;
  letter-spacing: -1px;
  padding-right: 10px;
  z-index: 1;
  position: relative;
  margin: -15px 0 20px;
  font-weight: 700;
}
.timeline-carousel__item-inner .year:after {
  content: "";
  position: absolute;
  display: block;
  left: -10px;
  top: 0;
  height: 100%;
  width: 10px;
  z-index: 3;
}
.timeline-carousel__item-inner .month {
    font-size: 30px;
    text-transform: uppercase;
    color: #373737;
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;
}
@media (max-width:1024px) {
    .timeline-carousel__item-inner .month {
        font-size: 18px;
    }
}
.timeline-carousel__item-inner p {
  font-size: 12px;
  line-height: 18px;
  color: white;
  width: 60%;
  font-weight: 400;
  margin-bottom: 15px;
}
.timeline-carousel__item-inner .read-more {
    font-size: 15px;
    color: var(--bs-gray-dark);
    display: table;
    margin-bottom: 10px;
    font-weight: 900;
    text-decoration: none;
    position: relative;
}
.timeline-carousel__item-inner .read-more:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  border-bottom: 2px solid var(--second-adri-color);
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.timeline-carousel__item-inner .read-more:hover:after {
  width: 100%;
}
.timeline-carousel__item-inner .pointer {
  height: 29px;
  position: relative;
  z-index: 1;
  margin: -4px 0 16px;
}
.timeline-carousel__item-inner .pointer:after, .timeline-carousel__item-inner .pointer:before {
  position: absolute;
  content: "";
}
.timeline-carousel__item-inner .pointer:after {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  top: 0;
  left: 0;
  background-color: var(--second-adri-color);
}
.timeline-carousel__item-inner .pointer:before {
  width: 1px;
  height: 100%;
  top: 0;
  left: 4px;
  background-color: var(--second-adri-color);
}
.timeline-carousel .slick-active .media-wrapper {
  opacity: 1 !important;
}

.slick-dots {
  bottom: 160px;
  list-style: none;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 2;
}
.slick-dots li {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  display: inline-block;
  margin: 0 6px;
  position: relative;
  width: 10px;
  height: 10px;
}
.slick-dots li:last-child {
  margin-right: 0;
}
.slick-dots li.slick-active button {
  background: var(--second-adri-color);
  border-color: var(--second-adri-color);
}
.slick-dots li button {
    display: block;
    font-size: 0;
    width: 10px;
    height: 10px;
    padding: 0;
    background-color: rgb(201 201 201 / 60%);
    border-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    box-shadow: none !important;
    border: none;
}
.slick-dots li button:hover {
    background: var(--second-adri-color);
    border-color: var(--second-adri-color);
    box-shadow: none !important;
    border: none;
}
.link {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  z-index: 9999;
}
.link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.link .fa {
  font-size: 28px;
  margin-right: 8px;
  color: #fff;
}

.slick-prev svg, .slick-next svg {
  height: auto;
  width: 18px;
  padding-bottom: 2px;
}
.slick-prev .btn, .slick-next .btn {
  border-radius: 0;
  font-family: "Libre Franklin", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.slick-prev, .slick-next {
  position: absolute;
  top: 0;
  z-index: 9999;
  border-radius: 0;
  font-family: "Libre Franklin", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 30px;
}
.year label {
    font-size: 25px;
    color: #000;
    font-weight: 400;
}
  /* close */

  /* recent-artucle */
  .w-90{
    width:85% !important;
  }
  .recent-main{
    padding: 30px !important;
    background-color: #fff;
  }
  .recent-main .card-body .card-title{
    margin-bottom: 15px;
  }
  .recent-main .card-body .card-text{
    margin-bottom: 40px;
}
.recent-main-list {
    width: fit-content;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #fff;
    padding: 20px;
    margin: 15px auto;
    box-shadow: 0px 6px 20px 1px #6610f205;
}
.list-icon {
    width: 50px;
    padding: 5px;
    background: #6610f20d;
    margin: 0 15px;
    margin-left: 0 !important;
}
.d-mob-block{
    display: none;
}
  /* close */


  /* mobile */
  @media (max-width:780px) {
    p {
        font-size: 14px !important;
    }
    h1 {
        font-size: 22px !important;
    }
    .btn-subscribe {
        padding: 12px 12px !important;
        margin-right: 12px;
        font-size: 12px !important;
    }
    .navbar-brand {
        width: 100px;
        margin-top: 13px;
    }
    .domain-form .form-group {
        border: none;
        padding: 0;
    }
    .interest-body ul li .border-int {
        padding: 10px 10px;
    }
    .interest-list {
        margin: 0px;
    }
    .modal-body {
        padding: 0 !important;
    }
    .interest-body ul li {
        padding: 8px;
    }
    .interest-bg .modal-body {
        margin-bottom: 50px;
    }
    .modal-content {
        margin: 15px;
    }
    .interest-bg .modal-header {
        padding: 20px 15px;
    }
    .chat-robot{
        width: 120px !important;
        height: 120px !important;
    }
    .card-img .card-img-bottom .card-img-top{
        width: 30% !important;
    }
    .domain-form .form-group input {
        height: 60px !important;
    }
    .domain-form .form-group .search-domain {
        padding: 0 25px;
    }
    .nav-link {
        padding: 15px 0 !important;
        font-size: 14px !important;
    }
    .dropdown-menu{
        padding: 10px 15px !important;
    }
    .dropdown-item{
        padding: 10px !important;
        font-size: 12px !important;
    }
    .d-mob-none {
        display: none !important;
    }
    .d-mob-block{
        display: block !important;
    }
    .recent-main-list h5 {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .recent-main-list p{
        font-size: 12px !important;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .w-90 {
        width: 100% !important;
    }
    .navbar-brand {
        display: none;
    }
    .ts-btn {
        font-size: 12px !important;
    }
    .btn-sub {
        width: auto;
        margin: 15px auto;
        margin-right: 0;
    }
  }

.read-more-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* footer */
.chat-robot {
    right: 0;
    width: 150px;
    height: 150px;
    position: fixed;
    bottom: 0;
}
#footer {
    padding-bottom: 6rem;
    padding-top: 6rem;
}
#footer .footer-items {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr;
}
#footer .footer-items a {
    display: block;
    font-size: 1rem;
    line-height: 2.5rem;
    text-decoration: none;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.mb-40-24 {
    margin-bottom: 2.5rem;
}
#footer .text-text-on-black-secondary {
    color: #838383;
}
#footer .misc-links-ctn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    border-bottom: 1px solid #ffffff26;
    border-top: 1px solid #ffffff26;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}
#footer .misc-links-ctn>div:first-child {
    margin-right: 2rem;
}
.bg-black :not(.btn-yellow) {
    color: #fff;
    fill: #fff;
    text-transform: uppercase;
}
.ft-h1 {
    font-weight: 700;
    font-size: 22px;
    color: var(--second-adri-color) !important;
    text-transform: uppercase;
}
#footer .social-links a+a {
    margin-left: 2rem;
}
#footer .misc-links-ctn .btn-group .btn+.btn {
    margin-left: 1rem;
}
#footer .social-links {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
    border-top: .5px solid;
}
@media (max-width:980px) {
    #footer .footer-items {
        display: block;
    }
    .footer-item{
        margin-top: 35px !important;
    }
    #footer .footer-items a {
        margin: 5px;
    }
    .bg-black:not(.btn-yellow) {
        text-align: center;
    }
    #footer .footer-items a {
        margin: 5px 0 !important;
    }
    .btn.btn-solid, a.btn.btn-solid, button.btn.btn-solid {
        font-size: 12px;
    }
    .ft-h1 {
        font-size: 18px !important;
    }
    .footer-item{
        margin: 40px auto !important;
    }
    .ft-h1 {
        margin: 25px auto !important;
    }
    #footer {
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
}
@media (max-width:680px) {
#footer .misc-links-ctn {
    flex-direction: column;
}
#footer .misc-links-ctn > div:first-child {
    margin-right: 0;
    margin-bottom: 50px;
}
#footer .social-links {
    flex-direction: column;
}
#footer .text-text-on-black-secondary {
    color: #838383;
    margin: 25px 0;
}
#footer {
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.footer-item{
    margin-top: 25px !important;
}
}
/* close */

/* about */
.div-controller {
    padding: 100px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}
.div-controller:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #6610f25c;
    top: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.3;
}
.ct-main{
    z-index: 9;
    position: relative;
}
.ib-master{
    position:relative ;
    width:100% ;
    height:100%;
    overflow: hidden;
}
.banner-anim {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.h1-m {
    color: #fff;
    position: relative;
    font-size: 80px;
    z-index: 99;
}
.ct-main h1 {
    font-size: 45px;
    margin-top: 30px;
}
.ct-main p{
    font-size: 18px;
    margin-top: 30px;
}
@media (max-width:780px) {
    .h1-m {
        font-size: 35px !important;
        margin-top: 50px;
    }
    .ib-master{
        position: relative;
        width: 100%;
        height: 50%;
        overflow: hidden;
    }
}
.main-heading{
    text-transform: uppercase;
}
.partner-logo {
    padding: 100px 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* close-about */