<div id="panel3">
    <a href="">
        <div class="chat-robot mt-10">
            <ng-lottie [options]="options" (animationCreated)="onAnimate($event)"></ng-lottie>
        </div>
    </a>
</div>

<footer id="footer" class="has-background bg-black">
  <div class="container mb-medium">
    <div class="footer-items" style="grid-template-columns: repeat(4, 1fr)">
      <div class="footer-item">
        <p class="ft-h1 mb-24">Company</p>
        <a>Home</a>
        <a>About Us</a>
        <a>Services</a>
        <a>Career</a>
      </div>
      <div class="footer-item">
        <p class="ft-h1 mb-24">Quick Links</p>
        <a>Reviewer</a>
        <a>Plagiarism</a>
        <a>ADRI BOT</a>
      </div>
      <div class="footer-item">
        <p class="ft-h1 mb-24">Help</p>
        <a>Privacy Policy</a>
        <a>Terms & Conditions</a>
        <a>Contact Us</a>
        <a>Support</a>
      </div>
      <div class="footer-item">
        <div class="mb-40-24">
          <img src="assets/img/logo/logi-lite.png" width="100" alt="">
        </div>
        <p class="p-tiny text-text-on-black-secondary" style="white-space: pre-line;">
          ADRI is a leading deep tech company in the MENA region that specializes in developing AI technologies.
        </p>
      </div>
    </div>
  </div>
  <div class="container social-links">
    <div>
      <a href="#">
        <svg id="fi_2111532" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" fill="none" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m23.994 24v-.001h.006v-8.802c0-4.306-.927-7.623-5.961-7.623-2.42 0-4.044 1.328-4.707 2.587h-.07v-2.185h-4.773v16.023h4.97v-7.934c0-2.089.396-4.109 2.983-4.109 2.549 0 2.587 2.384 2.587 4.243v7.801z"></path><path d="m.396 7.977h4.976v16.023h-4.976z"></path><path d="m2.882 0c-1.591 0-2.882 1.291-2.882 2.882s1.291 2.909 2.882 2.909 2.882-1.318 2.882-2.909c-.001-1.591-1.292-2.882-2.882-2.882z"></path></svg>
      </a>
      <a href="">
        <svg version="1.1" id="fi_717392" width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 409.61 409.61" style="enable-background:new 0 0 409.61 409.61;" xml:space="preserve">
          <g>
            <g>
              <path d="M307.205,0h-204.8C46.09,0,0.005,46.085,0.005,102.4v204.81c0,56.3,46.085,102.4,102.4,102.4h204.8
                c56.315,0,102.4-46.1,102.4-102.4V102.4C409.605,46.085,363.52,0,307.205,0z M375.47,307.21c0,37.632-30.612,68.265-68.265,68.265
                h-204.8c-37.637,0-68.265-30.633-68.265-68.265V102.4c0-37.642,30.628-68.265,68.265-68.265h204.8
                c37.653,0,68.265,30.623,68.265,68.265V307.21z"></path>
            </g>
          </g>
          <g>
            <g>
              <circle cx="315.755" cy="93.865" r="25.6"></circle>
            </g>
          </g>
          <g>
            <g>
              <path d="M204.805,102.4c-56.566,0-102.4,45.839-102.4,102.4c0,56.54,45.834,102.41,102.4,102.41c56.55,0,102.4-45.87,102.4-102.41
                C307.205,148.239,261.355,102.4,204.805,102.4z M204.805,273.075c-37.699,0-68.265-30.566-68.265-68.275
                s30.566-68.265,68.265-68.265s68.265,30.556,68.265,68.265S242.504,273.075,204.805,273.075z"></path>
            </g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          </svg>
      </a>
      <a href="#">
        <svg id="fi_5968958" height="24" width="24" enable-background="new 0 0 1226.37 1226.37" viewBox="0 0 1226.37 1226.37" xmlns="http://www.w3.org/2000/svg"><path d="m727.348 519.284 446.727-519.284h-105.86l-387.893 450.887-309.809-450.887h-357.328l468.492 681.821-468.492 544.549h105.866l409.625-476.152 327.181 476.152h357.328l-485.863-707.086zm-144.998 168.544-47.468-67.894-377.686-540.24h162.604l304.797 435.991 47.468 67.894 396.2 566.721h-162.604l-323.311-462.446z"></path><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
      </a>
    </div>
    <div>
      <p class="text-text-on-black-secondary p-tiny">© 2024 ADRI. All rights reserved.</p>
    </div>
  </div>
</footer>