
.popover[class*=tour-] {
    z-index: 1102;
    position: absolute !important;
    right: 250px;
    bottom: 25%;
    left: auto !important;
    height: fit-content !important;
}
#panel3{
    z-index: 1102;
    position: absolute !important;
    right: 250px;
    bottom: 25%;
    left: auto !important;
    height: fit-content !important;
}

.bg-black {
    background-color: #1b1b1d !important;
}

.mb-80, .mb-medium {
    margin-bottom: 5rem;
}
.btn.btn-solid, a.btn.btn-solid, button.btn.btn-solid {
    border: 2px solid;
    border-radius: 130px;
    font-size: 1rem;
    line-height: 1rem;
    padding: .875rem 1.5rem;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transition-property: background-color,color,border-color,opacity;
    transition-property: background-color,color,border-color,opacity;
}
.btn-group, .btn.btn-icon, a.btn.btn-icon, button.btn.btn-icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.btn.btn-yellow, a.btn.btn-yellow, button.btn.btn-yellow {
    background-color: #6610f2;
    border-color: #6610f2;
    color: #1b1b1d;
}
.bg-black .btn.btn-outline, .bg-black a.btn.btn-outline, .bg-black button.btn.btn-outline {
    border-color: #fff;
}

.btn.btn-solid.icon-left, .btn.btn-solid.icon-right, a.btn.btn-solid.icon-left, a.btn.btn-solid.icon-right, button.btn.btn-solid.icon-left, button.btn.btn-solid.icon-right {
    padding-bottom: .625rem;
    padding-top: .625rem;
}
.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn.dropdown-toggle-split:first-child, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 130px !important;
    border-bottom-right-radius: 130px !important;
}

