.chat-robot {
    right: 0;
    width: 170px;
    height: 170px;
    position: fixed;
    bottom: 0;
}
.popover[class*=tour-] {
    z-index: 1102;
    position: absolute !important;
    right: 250px;
    bottom: 25%;
    left: auto !important;
    height: fit-content !important;
}
#panel3{
    z-index: 1102;
    position: absolute !important;
    right: 250px;
    bottom: 25%;
    left: auto !important;
    height: fit-content !important;
}

.footer-main{
    background: #f8f9fa;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 5px;
}

.nav-item {
padding-right: 10px;
}
.nav-link {
    padding: 10px !important;
}
@media (max-width:780px) {
.footer-main{
    padding-top: 10px;
}
.nav-link{
    padding: 5px !important;
    font-size: 12px;
}
.footer-main{
    margin-top: 35px;
}
}
